*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue", Helvetica, Arial, sans-serif;

}
body{
  height: 100%;
  width: 100%;
  padding: 10px;
}

h1{
  font-size: 40px;
  margin-bottom: 10px;
}
button, input{
  padding:10px 20px;
  margin: 5px;
}